.tab-buttons {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .tab-button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    
  }
  .myfont{
    font-weight: bolder;
  }
  
  .tab-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .tab-button.active {
    background-color: #ddd;
    color: #333;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ddd;
  }